{% extends 'base.html' %}
{% block title %}About {% endblock title %}
{% block body %}
<center>
    <div class="container my-5">
        <div style="background-image: url('/static/background2.jpg');width:1200px;height:520px;background-position: center;
        background-repeat: no-repeat;
        background-size: cover;font-family: 'Times New Roman', Times, serif;">
        
        <div style="color:black">
            <center>
          <div class="container my-5">
            <br><br><br>
          <h1>This project is all about recognizing the modd of a person.<br>
             For the mood recognizion the user have to enter a text or he can also enter an audio
            <br>the txt aor the audio will then be used to find the mood and then according to the mood we will play the song.</h1>
          <br>
          <br>
          
          <!-- <h1 id="c1">you have a {{data}} mood</h1> -->
          </div>
        </center>
        </div>
        </div>
    </div>
    </center>
{% endblock body %}
