{% extends 'base.html' %}
{% block title %}Mood Recognixer {% endblock title %}
{% block body %}
<center>
<div class="container my-5">
    <div style="background-image: url('/static/background2.jpg');width:1200px;height:520px;background-position: center;
    background-repeat: no-repeat;
    background-size: cover;font-family: 'Times New Roman', Times, serif;">
    
    <div style="color:black">
        <center>
      <div class="container my-5">
        <br><br><br>
      <h1> To guess your mood please answer the below question</h1>
      <br>
      <h1>{{variable}}</h1>
      <br>
      <form action="mycode/" method="post">
       {% csrf_token %}
      <input id="c2" type="text" name="name">
      <br><br>
      <button type="submit" id="firstname" class="btn btn-dark">Submit Text</button>
  
      <!-- <input type="submit" value="ohk"> -->
      </form>
      <!-- <form action="mycode1/" method="get">
        {% csrf_token %}
        <br><br>
        <button type="submit" id="secondname" class="btn btn-dark" >Submit Audio</button>
       <br><br>
       </form> -->
      <!-- <h1 id="c1">you have a {{data}} mood</h1> -->
      </div>
    </center>
    </div>
    </div>
</div>
</center>
<!-- <script>
    c1 = document.getElementById("c1");   
    c1.setAttribute("style","visibility:hidden");
		function hey(){
      data=document.getElementById("name")
			c1.setAttribute("style","visibility:visible");

            }
</script> -->
{% endblock body %}
